/************************************** VERSIONE DESKTOP *************************************************************/

/**********************
    REGOLE GENERALI
***********************/

/** Reset Pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-bg: #150A0C; 
    --color-border: #242323;
    --color-border-focus: #393838;
    --color-wine: #211214;
    --color-light-wine: #2e191b;
    --color-grey: rgb(134, 134, 134);
    --color-light-grey: #d2d2d2;
    --color-gold: #D3A138;
    --color-light-gold: #876049;
    --color-brown: #321E17;
    --color-light-brown: #77665d;
}

body {
    padding-top: 80px;
    font-family: cursive;
    font-size: 13px;
    letter-spacing: 2.5px;
    background-color: var(--color-bg);
    color: var(--color-light-grey);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/**************************
    CLASSI RIUTILIZZABILI
***************************/
.container-page {
    max-width: 1340px;
    padding: 0 20px;
    margin: 20px auto;
}

.flex-row {
    display: flex;
}

.nessun-risultato {
    margin-top: 50px;
    font-size: 1.3rem;
    font-style:oblique;
}

.container-centro-pagina {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container-centro-pagina h1 {
    letter-spacing: 5px;
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: var(--color-light-grey);
}

.container-centro-pagina p {
    color: var(--color-light-brown);
    font-style: oblique;
}

/* Linee */
.linea-divisoria {
    border-bottom: 1px solid var(--color-border);
    margin-bottom: 50px;
}

/* linea decorativa */
.linea-decorativa-xs {
    border: 1px solid var(--color-gold);
    width: 30px;
    opacity: 0.25;
    margin: 10px auto 30px;
}

.linea-decorativa-s {
    border: 1px solid var(--color-gold);
    width: 80px;
    opacity: 0.25;
    margin: 15px 0 30px;
}



/*************
    HEADER
**************/
header {
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;    
    border-bottom: 1px solid var(--color-border);
    background-color: var(--color-bg);
}

/** Navbar */
.navbar {
    width: 100%;
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-light-brown);
}

.container-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}

.img-logo {
    height: 130px;
    margin-top: 12px;
}

/** Links */
.container-links-lr {
    display: flex;
    gap: 20px;
}

.nav-link:hover, .confronto:hover {
    color: var(--color-gold);
}

.nav-link.active {
    color: var(--color-gold);
}

/** Links */
.container-links-lr * {
    font-size: 19px;
    background: none;
    border: none;
    cursor: pointer;
}

.container-links-lr li {
    position: relative;
}

.home:hover, .vini:hover {
    color: var(--color-gold);
}

.index-sup {
    font-size: 12px;
    font-weight: bold;
    min-width: 16px;
    height: 16px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: -5px;
    right: -12px;
}

/***********
    MAIN
***********/

    /**************
        HOMEPAGE
    ***************/
    .bg-home {
        position: relative;
        background-image: url("/images/bg-homepage.png");
        background-size: cover;
        background-position: center;
        height: calc(100vh - 80px);

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .overlay {
        position: absolute;
        inset: 0;
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8));
    }

    .container-content {
        position: relative;
        z-index: 1;
        text-align: center;
        font-size: 1rem;
        letter-spacing: 5px;
        width: 70%;
    }

    .container-content h1 {
        font-size: 3.5rem;
        margin: 30px;
    }
 
    .container-content h4,
    .container-content span {
        color: var(--color-gold);
        padding-bottom: 20px;
    }

    .container-content h4 {
       opacity: 80%;
    }
    
    /* linea decorativa */
    .container-content .linea-decorativa {
        border: 1px solid var(--color-light-gold);
        width: 80px;
        margin: 10px auto 30px;
        opacity: 70%;
    }

    .container-content p {
        color: #d3b7a7;
        margin-bottom: 60px;
    }

    .container-content button {
       border: 1px solid var(--color-gold);
       padding: 20px 30px;
       background-color: transparent;
       cursor: pointer;
       font-weight: bold;
       letter-spacing: 3px;
       color: #f8c65a;
    }

    .container-content button .freccia {
        font-size: 1rem;
        padding-left: 10px;
        color: #f8c65a;
    }

    .container-content button:hover {
        transform: translateY(-3px) scale(1.05);
        box-shadow: 0 6px 20px rgba(248, 198, 90, 0.4);
        background-color: rgba(230, 135, 34, 0.35);
    }

    /****************
        LISTA VINI
    *****************/
    .bg-homepage {
        max-width: 100%;
    }

        /** FILTRI E ORDINAMENTI */

        /* Searchbar */
        .container-searchbar {
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 1.1rem;
            width: 355px;
            height: 44px;
            padding: 20px;
            margin-bottom: 20px;
            border: 1px solid var(--color-border);
            background-color: var(--color-wine);
        }

        .container-searchbar:focus-within {
            border: 1px solid var(--color-gold);
        }

        .searchbar {
            border: none;
            outline: none;
            font-size: 1rem;
            background-color: var(--color-wine);
            color: var(--color-light-brown);
            width: 100%;
        }

        .searchbar::placeholder, .icona-ricerca {
            color: var(--color-light-brown);
        }

        /* Bottoni Filtri */
        .container-filtri-e-ordinamenti {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .btn-filtri, 
        .btn-indietro, 
        .btn-svuota-preferiti, 
        .btn-torna-home, 
        .btn-not-found {
            padding: 11px 33px;
            margin-right: 10px;
            background-color: var(--color-bg);
            color: var(--color-light-brown);
            border: 1px solid var(--color-border);
            cursor: pointer;
        }

        .btn-filtri:hover, .btn-svuota-preferiti:hover, .btn-not-found:hover {
            color: var(--color-gold);
            border: 1px solid var(--color-gold);
        }

        .btn-filtri.active, .btn-indietro:hover {
            color: var(--color-gold);
            border: 1px solid var(--color-gold);
            background-color: var(--color-light-wine);
        }

        /* Select Ordinamenti */
        .container-ordinamenti {
            border: 1px solid var(--color-border);
            padding: 11px 20px;
            background-color: var(--color-bg);
        }

        .select-ordinamenti {
            background: transparent;
            border: none;
            outline: none;
            color: var(--color-light-brown);
            background-color: var(--color-bg);
            cursor: pointer;
            font-size: 1rem;
        }

        .container-ordinamenti:hover .select-ordinamenti {
            color: var(--color-gold);
        }

        /** LISTA VINI */

        /* Card */
        .container-vino-card {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            justify-content: center;
        }

        .vino-card {
            flex-basis: calc((100% - 60px) / 3);
            text-align: center;
            border: 1px solid var(--color-border);
            background-color: var(--color-wine);
            padding: 55px 0px 25px;
            position: relative;   /* per icona preferiti */
        }

        .vino-card.selected {
            border: 1px solid var(--color-gold);
            box-shadow: 0 0 20px rgba(211, 161, 56, 0.2);
        }

        .vino-img {
            height: 180px;
            object-fit: contain;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }

        .vino-img:hover {
            transform: translateY(-6px);
        }

        .vino-card h4 {
            letter-spacing: 3px;
            color: var(--color-gold);
        }

        .container-selezione {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            padding: 15px;
            border-bottom: 1px solid var(--color-gold);
            background-color: rgba(211, 161, 56, 0.08);
            text-align: center;
        }

        .container-selezione p {
            color: var(--color-gold);
            font-size: 0.7rem;
        }

        .container-icone-card {
            position: absolute;
            top: 12px;
            right: 20px;
        }


        .container-icone-card *, .container-icone-card-dettaglio * {
            margin: 0 2px;
            font-size: 19px;
            background: none;
            border: none;
            cursor: pointer;
        }

        .color-gold {
            color: var(--color-gold);
        }

        .color-light-brown{
            color: var(--color-light-brown);
        }

        .calice {
            width: 70px;
            margin-bottom: 30px;
        }

        /* Gestione confronto */
        .btn-confronto {
            background-color: var(--color-wine);
            margin-top: 30px;
        }

        .icona-confronto {
            margin-right: 20px;
        }

        .active-confronto { 
            color: var(--color-gold);
            background-color: var(--color-brown);
        }

    /*******************
        DETTAGLIO VINO
    ********************/

    .vino-header {
        text-align: center;
    }

    /* tipo vino */
    .tipo-vino-dettaglio {
        font-size: 0.7rem;
        padding: 8px;
        margin: 0 auto 13px;
        max-width: 190px;
        color: var(--color-gold);
        border: 1px solid var(--color-gold);
        opacity: 0.65;
        
    }

    .vino-titolo {
        font-size: 2.5rem;
    }

   /** Colonna sinsitra */
   .container-vino-layout {
       display: flex;
       align-items: center;
       justify-content: center;
       margin: 0 auto;
       width: 65%;
      
   }

    .img-vino-dettaglio {
        width: 380px;
    }
   
   /** Colonna destra */
   .container-prezzo-icons {
    display: flex;
    align-items: center;
    gap: 20px;    
   }

   /* prezzo */
   .vino-prezzo {
       font-size: 32px;
       color: var(--color-gold);
   }

   /* descrizione */
   .descrizione {
       padding: 10px 0 15px;
   }

   .descrizione h4 {
       font-weight: normal;
       color: var(--color-light-brown);
   }

   .descrizione p {
       font-style: oblique;
       margin: 10px 0 25px;
   }

   /* info vino */
   .vino-dettaglio-info-left-right {
       display: flex;
       gap: 60px;
       margin: 20px 0 30px;
   }

   /* singola riga info */
   .info-item {
       align-items: center;
       gap: 15px;
       margin-bottom: 22px;
   }

   /* icone */
   .icone-info-dettaglio {
       color: var(--color-gold);
       font-size: 20px;
       min-width: 22px;
   }

   /* titoli info */
   .info-dettaglio h4 {
       font-size: 0.7rem;
       color: var(--color-light-brown);
   }

   /* valori info */
   .info-dettaglio p {
       font-size: 1rem;
   }

    /***************
        PREFERITI
    ****************/
    .preferiti-header {
        display: flex;
        justify-content: end;
        align-items: center;
        margin-bottom: 30px;
        color: var(--color-grey);
    }

    .icona-cuore {
        color: var(--color-light-gold);
        border: 1px solid var(--color-light-brown);
        border-radius: 50%;
        width: 80px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto 20px;
        font-size: 30px;
    }

    .link-nessun-preferito {
        margin-top: 50px;
        color: var(--color-gold);
        font-size: 1.3rem;
    }

    /************************
        MODALE - CONFRONTO
    *************************/
    .overlay-sfondo {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(21, 10, 12, 0.9);
        z-index: 1;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .overlay-modale {
        text-align: center;
        width: 50%;
        height: 60%;
        background-color: var(--color-light-wine);
        border: 1px solid var(--color-light-gold);
        padding: 30px;
        position: relative;     /* per bottone chiusura modale */
    }

    .btn-chiusura-modale {
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 1.5rem;
        background-color: transparent;
        border: transparent;
        color: var(--color-light-brown);
        cursor: pointer;
    }

    .overlay-modale h2 {
        margin: 0 auto 40px;
        color: var(--color-gold);
    }

    /* Contenitore dei due slot per il confronto */
    .container-slots-confronto {
        display: flex;
        height: 85%;
        gap: 35px;
    }


    /* Singolo slot confronto */
    .container-singolo-slot-confronto {
        flex-basis: 50%;
        width: 100%;
        border: 1px dashed var(--color-light-gold);

        position: relative; /* per cestino */

        font-size: 0.7rem;

    }

    .vino-img-confronto {
        height: 140px;
    }

    /** Slot vuoto */
    .slot-vuoto {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        gap: 30px;
        padding: 20px;
        color: var(--color-light-brown);
    }

    .slot-vuoto button {
        background-color: transparent;
        color: var(--color-light-brown);
        border: 1px solid var(--color-light-gold);
        border-style: dashed;
        padding: 15px 20px;
        border-radius: 50%;
        cursor: pointer;
    }

    .slot-vuoto button:hover {
        color: var(--color-gold);
        border: 1px solid var(--color-gold);
        font-size: 1rem;
    }


    /** Slot pieno */
    .slot-pieno {
        padding: 10px 20px;
    }
    .btn-cestino-confronto {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: transparent;
        border-color: transparent;
        color: var(--color-light-gold);
        font-size: 1rem;
        cursor: pointer;
    }

    .btn-cestino-confronto:hover {
        color: var(--color-light-brown);
        font-size: 1.2rem;
    }

    .slot-pieno h4 {
        color: var(--color-gold);
        font-size: 0.6rem;
        margin-top: 5px;
    }

    .dettagli-confronto p {
        display: flex;
        justify-content: space-between;
        color: var(--color-light-brown);
        font-size: 0.8rem;
        margin: 0 10px;
    }

    .dettagli-confronto span {
        color: var(--color-light-grey);
    }

    /*******************
        NOT FOUND PAGE
    ********************/
    .header-not-found {
        display: flex;
        justify-content: center;
        align-items: center; 
        margin-top: 70px;
    }

    .header-not-found .numero {
        font-size: 7rem;
        color: var(--color-gold);
        font-weight: normal;
    }

    .calice-ntf {
        width: 70px;
        transform: rotate(-50deg);
        margin: 0 50px;
    }

    .main-not-found h2{
        font-weight: normal;
        margin-bottom: 20px;
    }

    .main-not-found h2 span {
        font-style: oblique;
    }

    .main-not-found p {
        margin-bottom: 50px;
        color: var(--color-light-gold);
    }

/* Desktop piccoli */
@media screen and (max-width: 1200px) {

    /************************
        MODALE - CONFRONTO
    *************************/
    .overlay-modale {
        width: 60%;
        height: auto;
        max-height: 85vh;
        overflow-y: auto;
    }

}

/************************************** VERSIONE TABLET *************************************************************/


/* Tablet orizzontale*/
@media screen and (max-width: 992px) {

    /************************
        MODALE - CONFRONTO
    *************************/
    .overlay-modale {
        width: 80%;
        padding: 25px;
    }

    /* Contenitore dei due slot per il confronto */
    .container-slots-confronto {
        gap: 20px;
    }

    /** Slot pieno */
    .slot-pieno {
        padding: 10px 15px;
    }

}

/* Tablet verticale */
@media screen and (max-width: 768px) {

    /****************
        LISTA VINI
    *****************/

    /** LISTA VINI */

    /* Card */
    .vino-card {
        flex-basis: calc((100% - 30px) / 2);
    }

    /************************
        MODALE - CONFRONTO
    *************************/
    .overlay-modale {
        width: 92%;
        padding: 25px 20px;
    }

    /* Contenitore dei due slot per il confronto */
    .container-slots-confronto {
        gap: 15px;
    }

}

/************************************ VERSIONE SMARTPHONE ***********************************************************/

/* Smartphone orizzontale */
@media screen and (max-width: 576px) {

    /****************
        LISTA VINI
    *****************/

    /** FILTRI E ORDINAMENTI */

    /* Searchbar */
    .container-searchbar {
        width: 100%;
    }

    /* Bottoni Filtri */
    .container-filtri-e-ordinamenti {
        flex-direction: column;
        align-items: stretch;
        gap: 15px;
    }

    .container-filtri {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .btn-filtri {
        flex-basis: calc((100% - 10px) / 2);
        margin-right: 0;
        padding: 10px 15px;
    }

    /* Select Ordinamenti */
    .container-ordinamenti {
        width: 100%;
        text-align: center;
    }

    /** LISTA VINI */

    /* Card */
    .vino-card {
        flex-basis: 100%;
    }

    /************************
        MODALE - CONFRONTO
    *************************/
    .overlay-modale {
        width: 92%;
        max-height: 85vh;
        overflow-y: auto;
        padding: 25px 18px;
    }

    .overlay-modale h2 {
        font-size: 1.4rem;
        margin-bottom: 30px;
    }

    /* Contenitore dei due slot per il confronto */
    .container-slots-confronto {
        flex-direction: column;
        height: auto;
        gap: 20px;
    }

    /* Singolo slot confronto */
    .container-singolo-slot-confronto {
        flex-basis: auto;
        min-height: 220px;
    }

    /** Slot vuoto */
    .slot-vuoto {
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 18px;
        padding: 25px 15px;
    }

    /** Slot pieno */
    .slot-pieno {
        padding: 15px 12px;
    }

    .vino-img-confronto {
        height: 105px;
    }

}

/* Smartphone verticale */
@media screen and (max-width: 414px) {

    /*************
        HEADER
    **************/
    header {
        height: 70px;
    }

    body {
        padding-top: 70px;
        font-size: 12px;
        letter-spacing: 2px;
    }

    /** Navbar */
    .navbar {
        font-size: 1rem;
    }

    .container-links-lr {
        gap: 12px;
    }

    .container-links-lr * {
        font-size: 17px;
    }

    .img-logo {
        height: 95px;
        margin-top: 8px;
    }

    .index-sup {
        font-size: 10px;
        min-width: 13px;
        height: 13px;
        top: -4px;
        right: -9px;
    }

    /**************
        HOMEPAGE
    ***************/
    .container-content {
        width: 85%;
        letter-spacing: 4px;
    }

    .container-content h1 {
        font-size: 3rem;
        margin: 20px 0;
    }

    .container-content p {
        margin-bottom: 45px;
    }

    /****************
        LISTA VINI
    *****************/

    /** FILTRI E ORDINAMENTI */

    /* Searchbar */
    .container-searchbar {
        height: 42px;
        padding: 15px;
        font-size: 1rem;
    }

    /* Bottoni Filtri */
    .btn-filtri {
        font-size: 0.8rem;
        padding: 9px 10px;
    }

    /* Select Ordinamenti */
    .container-ordinamenti {
        padding: 10px;
    }

    .select-ordinamenti {
        font-size: 0.9rem;
    }

    /** LISTA VINI */

    /* Card */
    .vino-card {
        padding: 45px 0 22px;
    }

    .vino-img {
        height: 165px;
    }

}

/* Smartphone molto piccoli */
@media screen and (max-width: 360px) {

    /*************
        HEADER
    **************/
    .container-links-lr {
        gap: 8px;
    }

    .container-links-lr * {
        font-size: 15px;
    }

    .img-logo {
        height: 80px;
        margin-top: 6px;
    }

    .index-sup {
        font-size: 9px;
        min-width: 12px;
        height: 12px;
        right: -8px;
    }

}

/* Smartphone extra piccoli */
@media screen and (max-width: 320px) {

    /*************
        HEADER
    **************/
    .container-links-lr {
        gap: 6px;
    }

    .container-links-lr * {
        font-size: 14px;
    }

    .img-logo {
        height: 72px;
    }

}